.log-in-container{
    display: flex;
    justify-items: center;
    background-color: #3a3d3f;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 7%;
    margin: 0% -50%;
    border-radius: 6px;
    color: white;
}

.email-input{
    width: 102%;
    padding: 3%;
    background-color: #181a1c;
    color: white;
    margin: 5% 0%;
}

.password-input{
    width: 102%;
    padding: 3%;
    background-color: #181a1c;
    color: white;
    margin: 5% 0%;
}

.log-in-button{
    width: 102%;
    padding: 3%;
    color:white;
    background-color: #5865f2;
    border-radius: 6px;
}

.demo-user-button{
    text-decoration: underline;
    border:none;
    background-color: #3a3d3f;
    color:rgb(40, 81, 158);
    padding: 13% 0%;
}

.log-in-form-container{
    width: 85%;
}

.errors{
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: rgb(204, 12, 12);
}
