.serverLanding-list-comp{
    display: flex;
    height: 95.2vh;
    background-color: #323239;
    justify-content: center;
}

.server-number-span {
    color: #5865f2;
    margin-left: 4px;
    font-weight: 700;
    font-size: 21px;
}
