.create-server-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0px;
    color: rgb(87, 158, 140);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #1e1f22;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

.create-server-button:hover {
    border-radius: 40%;
    background-color: rgb(87, 158, 140);
    color: white;
}

.button-icon {
    height: 16px;
    width: 16px;
    margin-left: 10px;
    align-self: right;
    cursor: pointer;
}
