.delete-channel-container{
    display: flex;
    background-color: #3a3d3f;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 3%;
    margin: 0% -13%;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.delete-server-container{
    display: flex;
    background-color: #3a3d3f;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 3%;
    margin: 0% -13%;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.delete-cancel-buttons-container{
    display: flex;
    margin: 2% 30%;
    column-gap: 100px;
}

.delete-modal-button{
    width: 100%;
    padding: 2% 0%;
    color:white;
    background-color: #e61616;
    border-radius: 6px;
    margin: 2% 0%;
    font-weight: bold;
    width: 160px;
    height: 40px;
    transition: background-color 0.5s ease;
}

.delete-modal-button:hover {
    background-color: #dd5151;
}
.delete-channel-modal-button {
    width: 100%;
    padding: 1% 0%;
    color:white;
    background-color: #e61616;
    border-radius: 6px;
    margin: 2% 0%;
    font-weight: bold;
    width: 160px;
    height: 40px;
    transition: background-color 0.5s ease;
}

.delete-channel-modal-button:hover {
    background-color: #dd5151;
}

.cancel-delete-modal-button{
    font-weight: bold;
    background-color:#3a3d3f;
    border: none;
}
