/* TODO Add site wide styles */

/* body {
    font-family: Arial, Helvetica, sans-serif;
} */
/* body {
    color: white;
    background-color: #495155;
    font-family: Arial, Helvetica, sans-serif;
} */

button {
    cursor: pointer;
}

body {
    background-color: #1e1f22;
}
