ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #1e1f22;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

li {
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: background-color 0.2s;
}

li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  color: white;
  background-color: #1e1f22;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 99;
  left: 70%;
}

.hidden {
  display: none;
}

.profile-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-dropdown li {
  padding: 10px 15px;
  cursor: pointer;
}

.profile-dropdown li:hover {
  background-color: #f5f5f5;
}


.profile-button img {
  cursor: pointer;
}

.tumult-dropdown-icon {
  height: 35px;
  width: 35px;
}

.tumult-dropdown-icon:hover {
  background-color: #555;
  border-radius: 5px;
}

.nav-logout-button {
  background: none;
  border: none;
  font-weight: bold;
  color:grey;
  /* background-color: #1e1f22; */
}

.nav-li-element {
  background: none;
  border: none;
  font-weight: bold;
  color:grey;
}
