.main-overall-div {
    display: flex;
    flex-direction: row;
}

.main-servers-div {
    flex: 1;
    margin: 20px;
}

.main-selected-servers-div {
    flex: 2;
    margin: 20px;
}

.main-selected-channel-div {
    flex: 7;
    margin: 20px;
}
