.server-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    transition: all 0.2s;
    object-fit: cover;
}

.server-image:hover {
    border-radius: 40%;
}


.new-server-button.button {
    padding: 10px 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #1e1f22;
    color: #969aa5;
}

.new-server-button.button:hover {
    border-radius: 40%;
    color: aquamarine;
}

.server-list-comp {
    background-color: #1e1f22;
    justify-content: center;
    padding:10px ;
    height:1241px;
    /* height:100% */
}


.server-image.selected {
    border-radius: 40%;
    /* Add other selected styles here */
    position: relative;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5); /* Initial box shadow (no blur and fully transparent) */
    animation: pulsingShadow 1.5s ease infinite; /* Adjust the animation duration as needed */
}

/* Define the keyframes for the pulsing box shadow animation */
@keyframes pulsingShadow {
    0% {
        box-shadow: 0 0 0 0  rgba(255, 0, 0, 0.5); /* No shadow (initial state) */
    }
    50% {
        box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.7); /* Adjust the blur radius and size as needed */
    }
    100% {
        box-shadow: 0 0 0 0  rgba(255, 0, 0, 0.5); /* No shadow (back to initial state) */
    }
}
