.button {
    background-color: brown;
}

.server-details-div,
.selected-server {
    background-color: #2c2d32;
    color: #969aa5;
}

.server-details-div ul {
    justify-content: left;
    margin: 10px;
    background-color: #2c2d32;
}

li {
    cursor: pointer;
}

.server-name {
    color: #f2f3ea;
    font-weight: bold;
}

.channel ul {
    transition: 0.2s;
    border-radius: 20%;
    cursor: pointer;
}

.channel ul:hover {
    color: #dcdee1;
    background-color: #37373e;
}

img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}

.message-container {
    display: flex;
}
