/* react-app/src/components/NewChannelForm/NewChannelForm.module.css */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 2;
}

.form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 10px;
}
