
.messages {
    height: auto;
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    height: auto;
    flex-grow: 1;
    overflow-y: auto;
}

.messages-overall-div {
    display: flex;
    flex-direction: column;

    height: 94.2vh;
    /* overflow: auto;  */

    background-color: #252525;
    padding-left: 40px;
    color: white;
    padding-top: 20px;
    word-wrap: break-word;
    padding-right: 20px;
    width: auto
    /* max-width: 1000px; */
}

.message-display-name {
    color: rgb(146, 44, 177);
    font-weight: 700;
}

.message-date-span {
    margin-left: 30px;
    font-size: 10px;
    color: grey;
}

.message-text-div {
    margin-top: 10px;
    margin-right: 80px;
    font-size: 14px;
    padding-left: 2px;
}

.message-edit-field {
    background-color: #181a1c;
    border-radius: 5px;
    width: fit-content;
    height: 30px;
    width: 700px;
    color: white;
    margin-bottom: 30px;
    margin-left: 5px;
}

.message-edit-button {
    height: 30px;
    width: 120px;
    background-color: #181a1c;
    color: white;
    border-radius: 5px;
}

.emoji-span {
    /* border: solid 2px #6f3dfd;
    background-color: #3c3457; */
    color: white;
    display: inline-block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 35%;
    padding: 1px;
    margin-right: 5px;
    margin-top: 5px;
    justify-content: center;
    align-content: center;
}
.message-update-delete-div {
    margin-bottom: 30px;
    margin-top: 10px;
}

.message-reaction-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: rgb(148, 148, 148);
    font-size: 12px;
}

.message-reaction-button:hover {
    transition: .5s;
    transform: .5s ease;
    color: rgb(211, 211, 211);
}

.message-delete-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: rgb(148, 148, 148);
    margin-right: 20px;
    font-size: 12px;
}

.message-delete-button:hover {
    transition: .5s;
    transform: .5s ease;
    color: rgb(211, 211, 211);
}

.message-update-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: rgb(148, 148, 148);
    margin-right: 20px;
    font-size: 12px;
}

.message-update-button:hover {
    transition: .5s;
    transform: .5s ease;
    color: rgb(211, 211, 211);
}

.emoji-picker-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    z-index: 9999;
}

.message-input-field {
    background-color: #181a1c;
    border-radius: 5px;
    width: 80%;
    height: 30px;
    max-width: 700px;
    min-width: 200px;
    color: white;
    margin-bottom: 20px;
    /* position: absolute; */
}

.update-server-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: rgb(148, 148, 148);
    margin-right: 20px;
    font-size: 12px;
}

.delete-server-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: rgb(148, 148, 148);
    margin-right: 20px;
    font-size: 12px;
}


.submit-message-button {
    height: 30px;
    width: 120px;
    background-color: #181a1c;
    color: white;
    border-radius: 5px;
}

.create-channel-button-div {
    margin-bottom: 40px;
}
